################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WKP__Database/obj/Debug/WKP_Database.sqlproj.AssemblyReference.cache
